<%= render 'comments/list' %>

<% if @comments.count > 10 %>
  <div class="apple_pagination mt-5 container bg-gradient w-25 rounded-3">
    <%= will_paginate @comments, container: false %>
  </div>
<% end %>
