<div class="bg-dark text-white" id="footer">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span>© 2022 Sakova's, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href="https://twitter.com/" target="_blank">
            <img src="https://img.icons8.com/color/24/000000/twitter--v1.png"/>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://www.instagram.com/" target="_blank">
            <img src="https://img.icons8.com/color/24/000000/instagram-new--v1.png"/>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://ru-ru.facebook.com/" target="_blank">
            <img src="https://img.icons8.com/color/24/000000/facebook-new.png"/>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>
